/*
*   theme는 모든 컴포넌트의 border, margin, font의 종류와 크기와 색상, 패딩 색상을 지정합니다.
*   색상은 지저된 테마(dark. light)마다 다른 값을 가집니다.
 */


* { /*basic color (dark)*/
    background: grey;
}

.container { /*basic color (dark)*/
    background: beige;
    border-radius: 4px;
    border: 1px solid black;
    margin: 10px
}